@import './node_modules/vuetify/src/styles/styles.sass';

$material-light: (
  'background': map-get($grey, 'lighten-3'),
);

$headings: (
  'h6': (
    'size': 16px
  ),
  'body-1': (
    'size': 14px,
    'letter-spacing': 0
  ),
  'body-2': (
    'size': 13px,
    'letter-spacing': 0
  ),
  'caption': (
    'size': 12px
  )
);

$list-item-dense-title-font-size: 14px;
