
.gb_4a:not(.gb_0d) {
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    z-index: 986
}

@-moz-keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

a.gb_0 {
    border: none;
    color: #4285f4;
    cursor: default;
    font-weight: bold;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -moz-user-select: none
}

a.gb_0:hover:after,
a.gb_0:focus:after {
    background-color: rgba(0, 0, 0, .12);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

a.gb_0:hover,
a.gb_0:focus {
    text-decoration: none
}

a.gb_0:active {
    background-color: rgba(153, 153, 153, .4);
    text-decoration: none
}

a.gb_1 {
    background-color: #4285f4;
    color: #fff
}

a.gb_1:active {
    background-color: #0043b2
}

.gb_2 {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .16)
}

.gb_0,
.gb_1,
.gb_3,
.gb_4 {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.gb_3 {
    background: #f8f8f8;
    border: 1px solid #c6c6c6
}

.gb_4 {
    background: #f8f8f8
}

.gb_3,
#gb a.gb_3.gb_3,
.gb_4 {
    color: #666;
    cursor: default;
    text-decoration: none
}

#gb a.gb_4.gb_4 {
    cursor: default;
    text-decoration: none
}

.gb_4 {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -moz-linear-gradient(top, #4387fd, #4683ea);
    background: linear-gradient(top, #4387fd, #4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=0)
}

#gb a.gb_4.gb_4 {
    color: #fff
}

.gb_4:hover {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_4:active {
    -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #3c78dc;
    background: -moz-linear-gradient(top, #3c7ae4, #3f76d3);
    background: linear-gradient(top, #3c7ae4, #3f76d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=0)
}

.gb_Ia {
    display: none !important
}

.gb_Ja {
    visibility: hidden
}

.gb_nd {
    display: inline-block;
    vertical-align: middle
}

.gb_0f {
    position: relative
}

.gb_D {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none
}

#gb#gb a.gb_D {
    color: #000;
    cursor: pointer;
    text-decoration: none
}

.gb_6a {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    top: 43px;
    z-index: 1;
    height: 0;
    width: 0;
    -moz-animation: gb__a .2s;
    animation: gb__a .2s
}

.gb_7a {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -moz-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 42px
}

x:-o-prefocus,
div.gb_7a {
    border-bottom-color: #ccc
}

.gb_F {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -moz-animation: gb__a .2s;
    animation: gb__a .2s;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-user-select: text
}

.gb_nd.gb_na .gb_6a,
.gb_nd.gb_na .gb_7a,
.gb_nd.gb_na .gb_F,
.gb_na.gb_F {
    display: block
}

.gb_nd.gb_na.gb_1f .gb_6a,
.gb_nd.gb_na.gb_1f .gb_7a {
    display: none
}

.gb_2f {
    position: absolute;
    right: 8px;
    top: 62px;
    z-index: -1
}

.gb_Qa .gb_6a,
.gb_Qa .gb_7a,
.gb_Qa .gb_F {
    margin-top: -10px
}

.gb_nd:first-child,
#gbsfw:first-child+.gb_nd {
    padding-left: 4px
}

.gb_sa.gb_9e .gb_nd:first-child {
    padding-left: 0
}

.gb_4c {
    position: relative
}

.gb_Tc .gb_4c,
.gb_he .gb_4c {
    float: right
}

.gb_D {
    padding: 8px;
    cursor: pointer
}

.gb_sa .gb_6c:not(.gb_0):focus img {
    background-color: rgba(0, 0, 0, 0.20);
    outline: none;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gb_af button:focus svg,
.gb_af button:hover svg,
.gb_af button:active svg,
.gb_D:focus,
.gb_D:hover,
.gb_D:active,
.gb_D[aria-expanded=true] {
    outline: none;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.gb_Cc .gb_af.gb_bf button:focus svg,
.gb_Cc .gb_af.gb_bf button:focus:hover svg,
.gb_af button:focus svg,
.gb_af button:focus:hover svg,
.gb_D:focus,
.gb_D:focus:hover {
    background-color: rgba(60, 64, 67, 0.1)
}

.gb_Cc .gb_af.gb_bf button:active svg,
.gb_af button:active svg,
.gb_D:active {
    background-color: rgba(60, 64, 67, 0.12)
}

.gb_Cc .gb_af.gb_bf button:hover svg,
.gb_af button:hover svg,
.gb_D:hover {
    background-color: rgba(60, 64, 67, 0.08)
}

.gb_ia .gb_D.gb_Ta:hover {
    background-color: transparent
}

.gb_D[aria-expanded=true],
.gb_D:hover[aria-expanded=true] {
    background-color: rgba(95, 99, 104, 0.24)
}

.gb_D[aria-expanded=true] .gb_cf,
.gb_D[aria-expanded=true] .gb_df {
    fill: #5f6368;
    opacity: 1
}

.gb_Cc .gb_af button:hover svg,
.gb_Cc .gb_D:hover {
    background-color: rgba(232, 234, 237, 0.08)
}

.gb_Cc .gb_af button:focus svg,
.gb_Cc .gb_af button:focus:hover svg,
.gb_Cc .gb_D:focus,
.gb_Cc .gb_D:focus:hover {
    background-color: rgba(232, 234, 237, 0.10)
}

.gb_Cc .gb_af button:active svg,
.gb_Cc .gb_D:active {
    background-color: rgba(232, 234, 237, 0.12)
}

.gb_Cc .gb_D[aria-expanded=true],
.gb_Cc .gb_D:hover[aria-expanded=true] {
    background-color: rgba(255, 255, 255, 0.12)
}

.gb_Cc .gb_D[aria-expanded=true] .gb_cf,
.gb_Cc .gb_D[aria-expanded=true] .gb_df {
    fill: #ffffff;
    opacity: 1
}

.gb_nd {
    padding: 4px
}

.gb_sa.gb_9e .gb_nd {
    padding: 4px 2px
}

.gb_sa.gb_9e .gb_Ua.gb_nd {
    padding-left: 6px
}

.gb_F {
    z-index: 991;
    line-height: normal
}

.gb_F.gb_ef {
    left: 8px;
    right: auto
}

@media (max-width:350px) {
    .gb_F.gb_ef {
        left: 0
    }
}

.gb_ff .gb_F {
    top: 56px
}

.gb_C .gb_D,
.gb_E .gb_C .gb_D {
    background-position: -64px -29px
}

.gb_j .gb_C .gb_D {
    background-position: -29px -29px;
    opacity: 1
}

.gb_C .gb_D,
.gb_C .gb_D:hover,
.gb_C .gb_D:focus {
    opacity: 1
}

.gb_1d {
    display: none
}

.gb_7c {
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 48px;
    margin-bottom: 2px;
    opacity: 1;
    overflow: hidden;
    padding-left: 16px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    top: 2px;
    white-space: nowrap;
    flex: 1 1 auto
}

.gb_7c.gb_8c {
    color: #3c4043
}

.gb_sa.gb_ta .gb_7c {
    margin-bottom: 0
}

.gb_9c.gb_ad .gb_7c {
    padding-left: 4px
}

.gb_sa.gb_ta .gb_bd {
    position: relative;
    top: -2px
}

.gb_sa {
    color: black;
    min-width: 320px;
    position: relative;
    -moz-transition: box-shadow 250ms;
    transition: box-shadow 250ms
}

.gb_sa.gb_Lc {
    min-width: 240px
}

.gb_sa.gb_2d .gb_2c {
    display: none
}

.gb_sa.gb_2d .gb_3d {
    height: 56px
}

header.gb_sa {
    display: block
}

.gb_sa svg {
    fill: currentColor
}

.gb_4d {
    position: fixed;
    top: 0;
    width: 100%
}

.gb_5d {
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
}

.gb_6d {
    height: 64px
}

.gb_sa:not(.gb_Oc) .gb_dd.gb_ed:not(.gb_7d):not(.gb_8d),
.gb_sa:not(.gb_Oc) .gb_Wd:not(.gb_7d):not(.gb_8d),
.gb_sa.gb_9d .gb_dd.gb_ed.gb_7d,
.gb_sa.gb_9d .gb_Wd.gb_7d,
.gb_sa.gb_9d .gb_dd.gb_ed.gb_8d,
.gb_sa.gb_9d .gb_Wd.gb_8d {
    display: none !important
}

.gb_3d {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: -ms-min-content;
    min-width: min-content
}

.gb_sa:not(.gb_ta) .gb_3d {
    padding: 8px
}

.gb_sa.gb_ae .gb_3d {
    flex: 1 0 auto
}

.gb_sa .gb_3d.gb_be.gb_ce {
    min-width: 0
}

.gb_sa.gb_ta .gb_3d {
    padding: 4px;
    padding-left: 8px;
    min-width: 0
}

.gb_2c {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-user-select: -moz-none
}

.gb_ee>.gb_2c {
    display: table-cell;
    width: 100%
}

.gb_9c {
    padding-right: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1 0 auto
}

.gb_sa.gb_ta .gb_9c {
    padding-right: 14px
}

.gb_fe {
    flex: 1 1 100%
}

.gb_fe>:only-child {
    display: inline-block
}

.gb_3c.gb_Uc {
    padding-left: 4px
}

.gb_3c.gb_ge,
.gb_sa.gb_ae .gb_3c,
.gb_sa.gb_ta:not(.gb_he) .gb_3c {
    padding-left: 0
}

.gb_sa.gb_ta .gb_3c.gb_ge {
    padding-right: 0
}

.gb_sa.gb_ta .gb_3c.gb_ge .gb_ia {
    margin-left: 10px
}

.gb_Uc {
    display: inline
}

.gb_sa.gb_Oc .gb_3c.gb_ie,
.gb_sa.gb_he .gb_3c.gb_ie {
    padding-left: 2px
}

.gb_7c {
    display: inline-block
}

.gb_3c {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    flex: 0 0 auto;
    justify-content: flex-end
}

.gb_he {
    height: 48px
}

.gb_sa.gb_he {
    min-width: initial;
    min-width: auto
}

.gb_he .gb_3c {
    float: right;
    padding-left: 32px
}

.gb_he .gb_3c.gb_je {
    padding-left: 0
}

.gb_ke {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-user-select: text
}

.gb_le {
    transition: background-color .4s
}

.gb_me {
    color: black
}

.gb_Cc {
    color: white
}

.gb_sa a,
.gb_Ic a {
    color: inherit
}

.gb_t {
    color: rgba(0, 0, 0, 0.87)
}

.gb_sa svg,
.gb_Ic svg,
.gb_9c .gb_ne,
.gb_Tc .gb_ne {
    color: #5f6368;
    opacity: 1
}

.gb_Cc svg,
.gb_Ic.gb_Mc svg,
.gb_Cc .gb_9c .gb_ne,
.gb_Cc .gb_9c .gb_Bc,
.gb_Cc .gb_9c .gb_bd,
.gb_Ic.gb_Mc .gb_ne {
    color: rgba(255, 255, 255, .87)
}

.gb_Cc .gb_9c .gb_ua:not(.gb_oe) {
    opacity: .87
}

.gb_8c {
    color: inherit;
    opacity: 1;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale
}

.gb_Cc .gb_8c,
.gb_me .gb_8c {
    opacity: 1
}

.gb_pe {
    position: relative
}

.gb_qe {
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px
}

a.gb_g,
span.gb_g {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.gb_Cc a.gb_g,
.gb_Cc span.gb_g {
    color: white
}

a.gb_g:hover,
a.gb_g:focus {
    opacity: .85;
    text-decoration: underline
}

.gb_h {
    display: inline-block;
    padding-left: 15px
}

.gb_h .gb_g {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle
}

.gb_re {
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.gb_sa.gb_he .gb_re {
    margin-left: 8px
}

#gb a.gb_4.gb_4.gb_re,
#gb a.gb_3.gb_3.gb_re {
    cursor: pointer
}

.gb_4.gb_re:hover {
    background: #2b7de9;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

.gb_4.gb_re:focus,
.gb_4.gb_re:hover:focus {
    background: #5094ed;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

.gb_4.gb_re:active {
    background: #63a0ef;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

.gb_re:not(.gb_3) {
    background: #1a73e8;
    border: 1px solid transparent
}

.gb_sa.gb_ta .gb_re {
    padding: 9px 15px;
    min-width: 80px
}

.gb_se {
    text-align: left
}

#gb a.gb_4.gb_ja.gb_re,
#gb a.gb_re.gb_3 {
    background: #ffffff;
    border-color: #dadce0;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #1a73e8
}

#gb a.gb_4.gb_ja.gb_re:hover,
#gb a.gb_re.gb_3:hover {
    background: #f8fbff;
    border-color: #cce0fc
}

#gb a.gb_4.gb_ja.gb_re:focus,
#gb a.gb_4.gb_ja.gb_re:focus:hover,
#gb a.gb_re.gb_3:focus,
#gb a.gb_re.gb_3:focus:hover {
    background: #f4f8ff;
    border-color: #c9ddfc
}

#gb a.gb_4.gb_ja.gb_re:active,
#gb a.gb_re.gb_3:active {
    background: #ecf3fe
}

#gb a.gb_4.gb_ja.gb_re:active {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15)
}

#gb a.gb_re.gb_3:not(.gb_ja):active {
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15)
}

.gb_ia {
    background-color: rgba(255, 255, 255, 0.88);
    border: 1px solid #dadce0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    max-height: 48px;
    overflow: hidden;
    outline: none;
    padding: 0;
    vertical-align: middle;
    width: 134px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.gb_ia.gb_ja {
    background-color: transparent;
    border: 1px solid #5f6368
}

.gb_ka {
    width: 115px
}

.gb_la {
    display: inherit
}

.gb_la.gb_ja {
    background: #ffffff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    left: 8px;
    margin-right: 5px;
    position: relative;
    padding: 3px;
    top: -1px
}

.gb_la.gb_ma.gb_ja {
    left: 6px;
    margin-right: 2px
}

.gb_ia:hover {
    border: 1px solid #d2e3fc;
    background-color: rgba(248, 250, 255, 0.88)
}

.gb_ia.gb_ja:hover {
    border: 1px solid #5f6368;
    background-color: rgba(232, 234, 237, 0.08)
}

.gb_ia:focus {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255);
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15)
}

.gb_ia.gb_ja:focus {
    border: 1px solid #e8eaed;
    background-color: #38383b
}

.gb_ia.gb_ja:active,
.gb_ia.gb_na.gb_ja:focus {
    border: 1px solid #5f6368;
    background-color: #333438
}

.gb_oa {
    display: inline-block;
    padding-left: 7px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    width: 78px
}

.gb_oa.gb_ja {
    line-height: 26px;
    width: 72px
}

.gb_oa.gb_pa.gb_ja {
    line-height: 30px;
    width: 57px
}

.gb_oa.gb_pa {
    line-height: 40px;
    width: 59px
}

.gb_oa.gb_ja {
    padding-left: 0;
    padding-bottom: 0
}

.gb_oa.gb_qa {
    background-color: #f1f3f4;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 0
}

.gb_oa.gb_qa .gb_ra {
    vertical-align: middle
}

.gb_sa:not(.gb_ta) .gb_ia {
    margin-left: 10px;
    margin-right: 4px
}

.gb_ia .gb_ra.gb_ua {
    min-width: 0
}

.gb_va {
    max-height: 32px;
    width: 78px
}

.gb_pa>.gb_va {
    max-height: 40px;
    width: 96px
}

.gb_va.gb_ja {
    max-height: 26px;
    width: 72px
}

.gb_pa>.gb_va.gb_ja {
    max-height: 30px;
    width: 88px
}

.gb_Ka {
    background-size: 32px 32px;
    border: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0
}

.gb_La {
    background-color: #e8f0fe;
    border: 1px solid rgba(32, 33, 36, .08);
    position: relative
}

.gb_La.gb_Ka {
    height: 30px;
    width: 30px
}

.gb_La.gb_Ka:hover,
.gb_La.gb_Ka:active {
    -moz-box-shadow: none;
    box-shadow: none
}

.gb_Ma {
    background: #fff;
    border: none;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 2px;
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    height: 14px;
    margin: 2px;
    position: absolute;
    right: 0;
    width: 14px
}

.gb_Na {
    color: #1f71e7;
    font: 400 22px/32px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase
}

@media (min-resolution:1.25dppx),
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
    .gb_Ka::before {
        display: inline-block;
        -moz-transform: scale(.5);
        transform: scale(.5);
        -moz-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_Oa::before {
        display: inline-block;
        -moz-transform: scale(.5);
        transform: scale(.5);
        -moz-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_l .gb_Oa::before {
        -moz-transform: scale(0.416666667);
        transform: scale(0.416666667)
    }
}

.gb_Ka:hover,
.gb_Ka:focus {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_Ka:active {
    -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
}

.gb_Ka:active::after {
    background: rgba(0, 0, 0, .1);
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%
}

.gb_Pa {
    cursor: pointer;
    line-height: 40px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}

.gb_D.gb_Pa {
    width: auto
}

.gb_Pa:hover,
.gb_Pa:focus {
    opacity: .85
}

.gb_Qa .gb_Pa,
.gb_Qa .gb_Ra {
    line-height: 26px
}

#gb#gb.gb_Qa a.gb_Pa,
.gb_Qa .gb_Ra {
    font-size: 11px;
    height: auto
}

.gb_Sa {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}

.gb_Ta:hover .gb_Sa {
    opacity: .85
}

.gb_ia>.gb_Ua {
    padding: 3px 3px 3px 4px
}

.gb_Va.gb_Ja {
    color: #fff
}

.gb_j .gb_Pa,
.gb_j .gb_Sa {
    opacity: 1
}

#gb#gb.gb_j.gb_j a.gb_Pa,
#gb#gb .gb_j.gb_j a.gb_Pa {
    color: #fff
}

.gb_j.gb_j .gb_Sa {
    border-top-color: #fff;
    opacity: 1
}

.gb_E .gb_Ka:hover,
.gb_j .gb_Ka:hover,
.gb_E .gb_Ka:focus,
.gb_j .gb_Ka:focus {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2)
}

.gb_Wa .gb_Ua,
.gb_Xa .gb_Ua {
    position: absolute;
    right: 1px
}

.gb_Ua.gb_i,
.gb_Za.gb_i,
.gb_Ta.gb_i {
    flex: 0 1 auto;
    flex: 0 1 main-size
}

.gb_0a.gb_1a .gb_Pa {
    width: 30px !important
}

.gb_2a.gb_Ja {
    display: none
}

.gb_3a {
    height: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px
}

.gb_4a .gb_3a,
.gb_5a .gb_3a {
    right: 0;
    top: 0
}

.gb_Ua .gb_D {
    padding: 4px
}

.gb_ue {
    display: none
}

.gb_vc {
    display: inline-block;
    position: relative;
    top: 2px;
    -moz-user-select: -moz-none
}

.gb_xe .gb_vc {
    display: none
}

.gb_3d .gb_wc {
    line-height: normal;
    position: relative;
    padding-left: 16px
}

.gb_9c.gb_ad .gb_wc {
    padding-left: 0
}

.gb_9c .gb_wc {
    padding-left: 12px
}

.gb_xc.gb_ye {
    direction: ltr
}

.gb_xc.gb_ye .gb_ne {
    padding-left: 8px;
    padding-right: 0
}

.gb_xc .gb_5c:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
    display: inline-block;
    height: 24px;
    width: 74px
}

.gb_xc .gb_5c {
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle
}

.gb_xc {
    display: inline-block;
    vertical-align: middle
}

.gb_xc .gb_5c,
.gb_xc.gb_ze,
.gb_xc:not(.gb_ze):not(:focus) {
    outline: none
}

.gb_ra {
    display: inline-block;
    vertical-align: middle
}

.gb_Ac {
    border: none;
    display: block;
    visibility: hidden
}

img.gb_ua {
    border: 0;
    vertical-align: middle
}

.gb_Mc .gb_xc .gb_5c:before,
.gb_Cc .gb_xc .gb_5c:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg')
}

.gb_me .gb_xc .gb_5c:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg')
}

@media screen and (-ms-high-contrast:black-on-white) {
    .gb_Cc .gb_xc .gb_5c:before {
        content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg')
    }
}

@media screen and (-ms-high-contrast:white-on-black) {
    .gb_me .gb_xc .gb_5c:before {
        content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg')
    }
}

.gb_ra {
    background-repeat: no-repeat
}

.gb_ne {
    display: inline-block;
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle
}

.gb_9c .gb_ne {
    padding-left: 4px
}

.gb_9c .gb_ne.gb_Ae {
    padding-left: 0
}

.gb_ua.gb_oe {
    padding-right: 4px
}

.gb_Mc .gb_8c.gb_ne {
    opacity: 1
}

.gb_Be:focus .gb_ne {
    text-decoration: underline
}

.gb_Ce img.gb_ua {
    margin-bottom: 4px
}

.gb_Bc {
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -moz-user-select: none;
    flex: 0 0 auto
}

.gb_ta .gb_Bc {
    margin: 0 4px 0 0
}

.gb_Bc:focus,
.gb_Bc:focus:hover {
    background-color: rgba(60, 64, 67, 0.1);
    outline: none
}

.gb_Bc:active {
    background-color: rgba(60, 64, 67, 0.12);
    outline: none
}

.gb_Bc:hover {
    background-color: rgba(60, 64, 67, 0.08);
    outline: none
}

.gb_Cc .gb_Bc:hover {
    background-color: rgba(232, 234, 237, 0.08)
}

.gb_Cc .gb_Bc:focus,
.gb_Cc .gb_Bc:focus:hover {
    background-color: rgba(232, 234, 237, 0.1)
}

.gb_Cc .gb_Bc:active {
    background-color: rgba(232, 234, 237, 0.12)
}

.gb_Dc {
    display: none
}

.gb_Ec {
    transform: none
}

.gb_Hc {
    display: none
}

.gb_Ic {
    background-color: #fff;
    bottom: 0;
    color: #000;
    height: -moz-calc(100vh - 100%);
    height: calc(100vh - 100%);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    z-index: 990;
    will-change: visibility;
    visibility: hidden;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -moz-transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s
}

.gb_Ic.gb_Jc.gb_Kc,
.gb_Ic.gb_Jc.gb_Kc:hover {
    overflow: visible
}

.gb_Ic.gb_ta {
    width: 264px;
    transform: translateX(-264px)
}

.gb_Ic:not(.gb_ta) {
    width: 280px;
    transform: translateX(-280px)
}

.gb_Lc .gb_Ic {
    width: 195px
}

.gb_Ic.gb_na {
    transform: translateX(0);
    visibility: visible;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    -moz-transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s
}

.gb_Ic.gb_Mc {
    background-color: rgba(32, 33, 36, 1);
    color: #e8eaed
}

.gb_Nc.gb_Oc {
    background-color: transparent;
    -moz-box-shadow: 0 0;
    box-shadow: 0 0
}

.gb_Nc.gb_Oc>:not(.gb_Pc) {
    display: none
}

.gb_Pc {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column
}

.gb_Pc>.gb_Qc {
    flex: 1 0 auto
}

.gb_Pc>.gb_Rc {
    flex: 0 0 auto
}

.gb_Sc {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0
}

.gb_Ic:not(.gb_Nc) .gb_Sc:first-child {
    padding: 0 0 8px 0
}

.gb_Sc:not(:last-child) {
    border-bottom: 1px solid #ddd
}

.gb_Mc .gb_Sc:not(:last-child) {
    border-bottom: 1px solid #5f6368
}

.gb_Mc .gb_Tc .gb_Uc {
    background-color: rgba(32, 33, 36, 1);
    border-bottom: 1px solid #5f6368
}

.gb_Vc {
    cursor: pointer
}

.gb_Wc:empty {
    display: none
}

.gb_Vc,
.gb_Wc {
    display: block;
    min-height: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87)
}

.gb_Mc .gb_Vc {
    color: #e8eaed
}

.gb_Mc .gb_Wc {
    color: #9aa0a6
}

.gb_Ic.gb_ta .gb_Vc {
    padding-left: 16px
}

.gb_Ic:not(.gb_ta) .gb_Vc,
.gb_Ic:not(.gb_ta) .gb_Wc {
    padding-left: 24px
}

.gb_Vc:hover {
    background: rgba(0, 0, 0, 0.12)
}

.gb_Mc .gb_Vc:hover {
    background: rgba(232, 234, 237, 0.08)
}

.gb_Vc.gb_Ca {
    background: rgba(0, 0, 0, 0.12);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87)
}

.gb_Mc .gb_Vc.gb_Ca {
    background: rgba(232, 234, 237, 0.12);
    color: rgba(255, 255, 255, .87)
}

.gb_Vc .gb_Xc {
    text-decoration: none;
    display: inline-block;
    width: 100%
}

.gb_Vc .gb_Xc:focus {
    outline: none
}

.gb_Vc .gb_Zc,
.gb_Wc {
    padding-left: 32px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.gb_Lc .gb_Vc .gb_Zc,
.gb_Lc .gb_Wc {
    padding-left: 16px;
    width: 138px
}

.gb_Pc.gb_u .gb_Xc:focus .gb_Zc {
    text-decoration: underline
}

.gb_Vc .gb_0c {
    height: 24px;
    width: 24px;
    float: left;
    margin-top: 8px;
    vertical-align: middle
}

.gb_Tc>* {
    display: block;
    min-height: 48px
}

.gb_sa.gb_ta .gb_Tc>* {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px
}

.gb_sa:not(.gb_ta) .gb_Tc>* {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px
}

.gb_sa:not(.gb_ta) .gb_9c .gb_vc {
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.gb_Tc .gb_vc {
    display: table-cell;
    height: 48px;
    vertical-align: middle
}

.gb_Tc .gb_Uc {
    background-color: #f5f5f5;
    display: block
}

.gb_Tc .gb_Uc .gb_nd {
    float: right
}

.gb_sa.gb_ta .gb_Tc .gb_Uc {
    padding: 4px
}

.gb_sa:not(.gb_ta) .gb_Tc .gb_Uc {
    padding: 8px
}

.gb_Tc .gb_Pa {
    width: 40px
}

.gb_Tc .gb_Sa {
    position: absolute;
    right: 0;
    top: 50%
}

.gb_Ic .gb_Be {
    text-decoration: none
}

.gb_Ic .gb_ne {
    display: inline;
    white-space: normal;
    word-break: break-all;
    word-break: break-word
}

body.gb_Ee [data-ogpc] {
    -moz-transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
    transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s
}

body.gb_Ee.gb_Fe [data-ogpc] {
    -moz-transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
    transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s
}

body [data-ogpc] {
    margin-left: 0
}

body.gb_Fe [data-ogpc] {
    margin-left: 280px
}

.gb_Wf {
    cursor: pointer;
    padding: 13px
}

.gb_Xf {
    background-color: rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .24);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .24);
    width: 34px;
    height: 17px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    -moz-transition: background-color ease 150ms;
    transition: background-color ease 150ms
}

.gb_Wf[aria-pressed=true] .gb_Xf {
    background-color: rgba(255, 255, 255, 0.1)
}

.gb_Zf {
    position: absolute;
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    top: -4px;
    transform: translateX(-12px);
    background-color: white;
    -moz-transition: transform ease 150ms;
    transition: transform ease 150ms
}

.gb_Wf[aria-pressed=true] .gb_Zf {
    transform: translateX(20px)
}

.gb_Zf img {
    position: absolute;
    margin: 5px;
    width: 15px;
    height: 15px
}

.gb_He {
    line-height: 0;
    -moz-user-select: -moz-none
}

.gb_fe>.gb_He:only-child {
    float: right
}

.gb_He .gb_Me {
    display: inline-block
}

.gb_He .gb_6c {
    cursor: pointer
}

.gb_He .gb_6c img {
    opacity: .54;
    width: 24px;
    height: 24px;
    padding: 10px
}

.gb_Cc .gb_He .gb_6c img {
    opacity: 1
}

.gb_Ie {
    text-align: right
}

.gb_Me {
    text-align: initial
}

.gb_He .gb_Ne,
.gb_He .gb_Oe {
    display: table-cell;
    height: 48px;
    vertical-align: middle
}

.gb_He .gb_Ne:not(.gb_Pe) {
    overflow: hidden
}

.gb_Se {
    padding-left: 16px
}

.gb_Se:not(.gb_ta) {
    padding-left: 24px
}

.gb_Te {
    color: black;
    opacity: .54
}

.gb_Ue {
    background: white;
    -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow-y: hidden;
    position: absolute;
    right: 24px;
    top: 48px
}

.gb_cd {
    display: none
}

.gb_cd.gb_na {
    display: block
}

.gb_dd {
    background-color: #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    color: #000;
    position: relative;
    z-index: 986
}

.gb_ed {
    height: 40px;
    padding: 16px 24px;
    white-space: nowrap
}

.gb_fd {
    position: fixed;
    bottom: 16px;
    padding: 16px;
    right: 16px;
    white-space: normal;
    width: 328px;
    transition: width .2s, bottom .2s, right .2s;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
}

@media (max-width:400px) {
    .gb_dd.gb_fd {
        max-width: 368px;
        width: auto;
        bottom: 0;
        right: 0
    }
}

.gb_dd .gb_6c {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    min-width: 32px;
    padding: 0 16px;
    vertical-align: middle
}

.gb_dd .gb_6c:before {
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 100%
}

.gb_dd .gb_6c:after {
    bottom: -6px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%
}

.gb_dd .gb_6c+.gb_6c {
    margin-left: 8px
}

.gb_gd {
    height: 48px;
    padding: 4px;
    margin: -8px 0 0 -8px
}

.gb_fd .gb_gd {
    float: left;
    margin: -4px
}

.gb_hd {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    overflow: hidden;
    vertical-align: top
}

.gb_ed .gb_hd {
    display: inline-block;
    padding-left: 8px;
    width: 640px
}

.gb_fd .gb_hd {
    display: block;
    margin-left: 56px;
    padding-bottom: 16px
}

.gb_id {
    background-color: inherit
}

.gb_ed .gb_id {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 24px
}

.gb_fd .gb_id {
    text-align: right;
    padding-right: 24px;
    padding-top: 6px
}

.gb_id .gb_jd {
    height: 1.5em;
    margin: -.25em 10px -.25em 0;
    vertical-align: text-top;
    width: 1.5em
}

.gb_kd {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, .87)
}

.gb_fd .gb_kd {
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    line-height: 20px;
    padding-top: 8px
}

.gb_ed .gb_kd,
.gb_ed .gb_ld {
    width: 640px
}

.gb_ld .gb_md,
.gb_ld {
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, .54)
}

.gb_fd .gb_ld .gb_md {
    font-size: 14px
}

.gb_fd .gb_ld {
    padding-top: 12px
}

.gb_fd .gb_ld a {
    color: rgba(66, 133, 244, 1)
}

.gb_nd.gb_od {
    padding: 0
}

.gb_od .gb_F {
    background: #ffffff;
    border: solid 1px transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 16px;
    right: 16px;
    top: 72px;
    -moz-box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3), 0 3px 6px 2px rgba(65, 69, 73, 0.15);
    box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3), 0 3px 6px 2px rgba(65, 69, 73, 0.15)
}

.gb_od .gb_F.gb_pd {
    right: 60px;
    top: 48px
}

.gb_od .gb_F.gb_qd {
    top: 62px
}

a.gb_rd {
    color: #5f6368 !important;
    font-size: 22px;
    height: 24px;
    opacity: 1;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    text-decoration: none !important;
    width: 24px
}

a.gb_rd:focus,
a.gb_rd:active,
a.gb_rd:focus:hover {
    background-color: #e8eaed;
    -moz-border-radius: 50%;
    border-radius: 50%;
    outline: none
}

a.gb_rd:hover {
    background-color: #f1f3f4;
    -moz-border-radius: 50%;
    border-radius: 50%;
    outline: none
}

svg.gb_sd {
    fill: #5f6368;
    opacity: 1
}

.gb_td {
    padding: 0;
    white-space: normal;
    display: table
}

.gb_ud {
    line-height: normal;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

.gb_od .gb_4:active {
    outline: none;
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .16);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .16)
}

.gb_0.gb_vd.gb_wd {
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 70px;
    outline: none;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale
}

.gb_0.gb_xd.gb_wd {
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    color: #5f6368;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 70px;
    outline: none;
    padding: 8px 6px;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale
}

.gb_0.gb_vd.gb_wd {
    background: white;
    border: 1px solid #dadce0;
    color: #1a73e8;
    margin-top: 21px;
    padding: 9px 7px
}

.gb_0.gb_vd.gb_wd:hover {
    background-color: rgba(26, 115, 232, 0.04)
}

.gb_0.gb_vd.gb_wd:focus,
.gb_0.gb_vd.gb_wd:focus:hover {
    background-color: rgba(26, 115, 232, 0.12);
    border: solid 1px #1a73e8
}

.gb_0.gb_vd.gb_wd:active {
    background-color: rgba(26, 115, 232, 0.1);
    border-color: transparent
}

.gb_0.gb_xd:hover {
    background-color: #f8f9fa
}

.gb_0.gb_xd:focus,
.gb_0.gb_xd:hover:focus {
    background-color: #f1f3f4;
    border-color: transparent
}

.gb_0.gb_xd:active {
    background-color: #f1f3f4;
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15)
}

.gb_md {
    color: #5f6368;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 5px
}

.gb_yd {
    text-align: right;
    font-size: 14px;
    padding-bottom: 0;
    white-space: nowrap
}

.gb_yd .gb_zd,
.gb_yd .gb_Ad {
    margin-left: 12px;
    text-transform: none
}

a.gb_4.gb_zd:hover {
    background-color: #2b7de9;
    border-color: transparent;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

a.gb_4.gb_zd:focus,
a.gb_4.gb_zd:hover:focus {
    background-color: #5094ed;
    border-color: transparent;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

a.gb_4.gb_zd:active {
    background-color: #63a0ef;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
}

.gb_yd .gb_zd.gb_Bd {
    padding-left: 6px;
    padding-right: 14px
}

.gb_yd .gb_wd.gb_zd img {
    background-color: inherit;
    -moz-border-radius: initial;
    border-radius: initial;
    height: 18px;
    margin: 0 8px 0 4px;
    vertical-align: text-top;
    width: 18px
}

.gb_Cd .gb_td .gb_Dd .gb_wd {
    border: 2px solid transparent
}

.gb_td .gb_Dd .gb_wd:focus:after,
.gb_td .gb_Dd .gb_wd:hover:after {
    background-color: transparent
}

.gb_ud {
    background-color: #404040;
    color: #fff;
    padding: 16px;
    position: absolute;
    top: 62px;
    min-width: 328px;
    max-width: 650px;
    right: 8px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4)
}

.gb_ud a,
.gb_ud a:visited {
    color: #5e97f6;
    text-decoration: none
}

.gb_Ed {
    text-transform: uppercase
}

.gb_Fd {
    padding-left: 50px
}

.gb_Hd {
    color: #3c4043;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12px
}

.gb_md a.gb_Jd {
    text-decoration: none;
    color: #5e97f6
}

.gb_md a.gb_Jd:visited {
    color: #5e97f6
}

.gb_md a.gb_Jd:hover,
.gb_md a.gb_Jd:active {
    text-decoration: underline
}

.gb_Kd {
    position: absolute;
    background: transparent;
    top: -999px;
    z-index: -1;
    visibility: hidden;
    margin-top: 1px;
    margin-left: 1px
}

#gb .gb_od {
    margin: 0
}

.gb_od .gb_6c {
    background: #4d90fe;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-weight: 500;
    margin-top: 21px;
    min-width: 70px;
    text-align: center;
    -moz-osx-font-smoothing: grayscale
}

.gb_od a.gb_4 {
    background: #1a73e8;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 8px 22px;
    -moz-osx-font-smoothing: grayscale
}

.gb_od a.gb_4.gb_Ld {
    background: #d93025
}

.gb_od a.gb_4.gb_Ld:hover {
    background-color: #cc3127;
    -moz-box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09), 0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px rgba(60, 64, 67, 0.15);
    box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09), 0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px rgba(60, 64, 67, 0.15)
}

.gb_od a.gb_4.gb_Ld:focus,
.gb_od a.gb_4.gb_Ld:focus:hover {
    background-color: #b3332c;
    -moz-box-shadow: none;
    box-shadow: none
}

.gb_od a.gb_4.gb_Ld:active,
.gb_od a.gb_4.gb_Ld:focus:active {
    background-color: #a6342e;
    -moz-box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09), 0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px rgba(60, 64, 67, 0.15);
    box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09), 0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px rgba(60, 64, 67, 0.15)
}

.gb_od.gb_Md a.gb_4 {
    float: right
}

#gb .gb_od a.gb_6c.gb_6c {
    color: #ffffff;
    cursor: pointer
}

.gb_od .gb_6c:hover {
    background: #357ae8;
    border-color: #2f5bb7
}

.gb_Nd,
.gb_Dd {
    display: table-cell
}

.gb_Nd {
    vertical-align: middle
}

.gb_Nd img {
    height: 48px;
    padding-left: 4px;
    padding-right: 20px;
    width: 48px
}

.gb_Dd {
    padding-left: 13px;
    width: 100%
}

.gb_od .gb_Dd {
    padding-top: 4px;
    min-width: 326px;
    padding-left: 0;
    width: 326px
}

.gb_od.gb_Od .gb_Dd {
    min-width: 254px;
    width: 254px
}

.gb_od.gb_Md .gb_Dd {
    padding-top: 32px
}

.gb_Pd {
    display: block;
    display: inline-block;
    padding: 1em 0 0 0;
    position: relative;
    width: 100%
}

.gb_Qd {
    color: #ff0000;
    font-style: italic;
    margin: 0;
    padding-left: 46px
}

.gb_Pd .gb_Rd {
    float: right;
    margin: -20px 0;
    width: -moz-calc(100% - 46px);
    width: calc(100% - 46px)
}

.gb_Sd svg {
    fill: grey
}

.gb_Sd.gb_Td svg {
    fill: #4285f4
}

.gb_Pd .gb_Rd label:after {
    background-color: #4285f4
}

.gb_Sd {
    display: inline;
    float: right;
    margin-right: 22px;
    position: relative;
    top: 2px
}

.gb_Wd {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 19px;
    padding-top: 5px;
    padding-left: 12px;
    position: relative;
    background-color: #4d90fe
}

.gb_Wd .gb_Xd {
    color: #ffffff;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    right: 12px;
    top: 5px
}

.gb_Wd .gb_zd,
.gb_Wd .gb_xd {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin-left: 16px;
    padding: 0 8px;
    white-space: nowrap
}

.gb_Zd {
    background: none;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff, endColorstr=#220000ff);
    text-decoration: none !important
}

.gb_Zd:hover {
    background: none;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#22000000)
}

.gb_Zd:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
}

.gb_sa .gb_0 {
    color: #4285f4
}

.gb_sa .gb_1 {
    color: #fff
}

.gb_sa .gb_6c:not(.gb_7e):focus {
    outline: none
}

.gb_zf,
.gb_Af,
.gb_Bf {
    display: none
}

.gb_Xe {
    height: 48px;
    max-width: 720px
}

.gb_fe.gb_6e:not(.gb_We) .gb_Xe {
    max-width: 100%;
    flex: 1 1 auto
}

.gb_ee>.gb_2c .gb_Xe {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.gb_fe.gb_6e .gb_Xe .gb_af {
    margin-left: 0;
    margin-right: 0
}

.gb_af {
    background: #f1f3f4;
    border: 1px solid transparent;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
    -moz-transition: background 100ms ease-in, width 100ms ease-out;
    transition: background 100ms ease-in, width 100ms ease-out
}

.gb_af.gb_Cf {
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0
}

.gb_Cc .gb_af {
    background: rgba(241, 243, 244, 0.24)
}

.gb_af button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 5px;
    line-height: 0
}

.gb_af:not(.gb_We) button {
    padding: 0 5px
}

.gb_af button svg,
.gb_af button img {
    padding: 8px;
    margin: 3px
}

.gb_af.gb_We button svg {
    margin-left: 1px;
    margin-right: 1px
}

.gb_Df.gb_Ef,
.gb_Ff.gb_Ef {
    padding-left: 2px;
    padding-right: 2px
}

.gb_Ff {
    display: none
}

.gb_Df,
.gb_Ff {
    float: left;
    position: absolute;
    top: 0
}

.gb_Hf {
    position: absolute;
    right: 0;
    cursor: default;
    visibility: hidden;
    top: 0;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out
}

.gb_If .gb_Hf {
    right: 44px
}

.gb_Hf.gb_Jf {
    visibility: inherit
}

.gb_Kf {
    position: absolute;
    right: 0;
    top: 0
}

.gb_Lf {
    height: 46px;
    padding: 0;
    margin-left: 56px;
    margin-right: 49px;
    overflow: hidden
}

.gb_If .gb_Lf {
    margin-right: 96px
}

.gb_uf {
    background: transparent;
    border: none;
    font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.gb_Ef.gb_Lf .gb_uf.gb_Mf {
    padding-left: 2px
}

.gb_Cc .gb_uf {
    color: rgba(255, 255, 255, 0.87)
}

.gb_uf:not(.gb_Mf) {
    padding: 11px 0
}

.gb_uf.gb_Mf {
    padding: 0
}

.gb_Mf {
    height: 46px;
    line-height: 46px
}

.gb_af:not(.gb_bf) input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.54)
}

.gb_Cc .gb_af:not(.gb_bf) input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.87)
}

.gb_af.gb_We:not(.gb_N) {
    background: transparent;
    float: right;
    -moz-box-shadow: none;
    box-shadow: none
}

.gb_af.gb_We:not(.gb_N) .gb_Lf,
.gb_af.gb_We:not(.gb_N) .gb_Hf,
.gb_af.gb_We:not(.gb_N) .gb_Kf {
    display: none
}

.gb_af.gb_We.gb_N {
    margin-left: 0;
    position: absolute;
    width: auto
}

.gb_af.gb_We.gb_N .gb_Df {
    display: none
}

.gb_af.gb_We .gb_Df {
    padding: 0;
    position: static
}

.gb_af.gb_We.gb_N .gb_Ff {
    display: block
}

.gb_sa.gb_Oc .gb_2c.gb_Ve:not(.gb_We) .gb_Xe,
.gb_sa.gb_Oc .gb_2c.gb_Ze.gb_0e:not(.gb_We) .gb_Xe,
.gb_sa.gb_ae .gb_2c:not(.gb_Ve):not(.gb_We) .gb_Xe {
    padding-right: 30px
}

.gb_sa.gb_Oc .gb_2c.gb_0e:not(.gb_We) .gb_Xe,
.gb_sa.gb_Oc .gb_2c.gb_Ze.gb_Ve:not(.gb_We) .gb_Xe {
    padding-left: 30px
}

.gb_2c:not(.gb_We) .gb_Xe {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    flex: 1 1 auto
}

.gb_Xe.gb_Ja {
    display: none
}

.gb_fe.gb_1e>.gb_He {
    min-width: initial !important;
    min-width: auto !important
}

.gb_2e,
.gb_3e:not(.gb_be):not(.gb_1e).gb_4e {
    justify-content: flex-end
}

.gb_3e:not(.gb_be):not(.gb_1e) {
    justify-content: center
}

.gb_3e:not(.gb_be):not(.gb_1e).gb_5e,
.gb_3e:not(.gb_be):not(.gb_1e).gb_6e {
    justify-content: flex-start
}

.gb_fe.gb_be,
.gb_fe.gb_1e {
    justify-content: space-between
}

.gb_sa.gb_ta .gb_9c,
.gb_3d.gb_be.gb_ce>.gb_9c {
    flex: 1 1 auto;
    overflow: hidden
}

.gb_sa.gb_ta .gb_fe,
.gb_3d.gb_be.gb_ce>.gb_fe {
    flex: 0 0 auto
}

.gb_Nf {
    position: relative
}

.gb_Of {
    margin: 0 58px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    -moz-user-select: none;
    overflow: hidden
}

.gb_ta .gb_Of,
.gb_2d .gb_Of {
    margin: 0 24px
}

.gb_Pf,
.gb_Qf {
    display: none;
    height: 48px;
    position: absolute;
    top: 0;
    width: 100px
}

.gb_Nf.gb_Rf .gb_Pf,
.gb_Nf.gb_Sf .gb_Qf {
    display: block
}

.gb_Qf {
    pointer-events: none
}

.gb_Pf {
    pointer-events: none;
    left: 0
}

.gb_Qf {
    right: 0
}

.gb_Tf {
    cursor: pointer;
    display: inline-table;
    outline: none
}

.gb_Tf>.gb_Uf {
    border: 0 solid transparent;
    border-width: 2px 0;
    display: table-cell;
    height: 44px;
    padding: 0 22px;
    opacity: .7;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle
}

.gb_Tf.gb_Ca:focus {
    background-color: rgba(0, 0, 0, .16)
}

.gb_Tf.gb_Ca>.gb_Uf {
    border-bottom-color: black;
    opacity: 1
}

.gb_Cc .gb_Tf.gb_Ca>.gb_Uf {
    border-bottom-color: white
}

.gb_me .gb_Tf.gb_Ca>.gb_Uf {
    border-bottom-color: black
}

.gb_Of.gb_Vf>.gb_Tf.gb_Ca>.gb_Uf {
    border-bottom-color: #4285f4;
    color: #4285f4
}

sentinel {}