
.fKYrac {
    transition: all .2s;
    z-index: 999;
    width: 100%;
    max-height: 4px
}

.WVArge {
    transition: all .2s;
    z-index: 999;
    width: 100%;
    max-height: none
}

.fKYrac:not(.t2hYse),
.WVArge {
    bottom: 0;
    left: 0;
    position: absolute
}

.fKYrac.Voy7l {
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    bottom: auto
}

.fKYrac.L6cTce {
    display: none
}

.fKYrac.L6cTce::before {
    display: none
}

.fKYrac.L6cTce .N3jhWe {
    display: none
}

.WVArge.L6cTce::before {
    display: none
}

.WVArge.L6cTce .z8weBe {
    display: none
}

.fKYrac.t2hYse::before {
    background: #fff;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99
}

.WVArge.t2hYse::before {
    background: #fff;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.N3jhWe {
    max-height: 4px
}

.fKYrac .SQxu9c {
    background-color: #3367d6
}

.fKYrac .Iq5ZMc {
    background-color: #e8f0fe
}

.fKYrac.t2hYse .N3jhWe,
.WVArge.t2hYse .z8weBe {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99
}

.fKYrac.Voy7l.t2hYse .N3jhWe {
    position: absolute;
    bottom: auto;
    top: 0
}

.z8weBe {
    height: 100%;
    width: 100%
}

.fb0g6 {
    position: relative
}

.m378kd {
    background: none
}

.ZdF7Q.m378kd {
    background-color: #fff;
    height: 100%
}

.m378kd>.oJeWuf,
.oLxpce {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow-y: hidden
}

.m378kd .oJeWuf {
    padding: 0 0 0 0
}

.ZdF7Q>.oJeWuf,
.ZdF7Q .oLxpce {
    height: 100%
}

.OTNw1d.CAwICe,
.OTNw1d.kdCdqc {
    transform: translateX(100%)
}

.Wvd84e {
    animation: slideDown2 .24s cubic-bezier(0.4, 0.0, 1, 1) both;
    background: #fff;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .54);
    -moz-box-flex: 1 1 auto;
    flex: 1 1 auto;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    overflow-y: auto;
    padding: 20px 24px 24px 24px;
    position: relative
}

.ZdF7Q .Wvd84e,
.oLxpce[data-sidebar-content] .Wvd84e {
    animation: none
}

.Wvd84e.ey07cb {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.oLxpce[data-sidebar-content] .Wvd84e.ey07cb {
    border-bottom: none
}

.Wvd84e.P5DDs {
    padding: 20px 0 24px 0
}

.vKkXhe,
.OkCl1d {
    position: relative;
    width: 100%
}

.vKkXhe {
    background: #3367d6;
    height: 72px
}

.OkCl1d {
    background: #fff;
    height: 66px
}

.vKkXhe .oJeWuf,
.OkCl1d .oJeWuf {
    overflow: hidden
}

.Ftdbsb .SQxu9c {
    background: #3367d6
}

.Ftdbsb .Iq5ZMc {
    background: #e8f0fe
}

.j3Tu8e {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

.OkCl1d .j3Tu8e,
.ZdF7Q .j3Tu8e {
    bottom: auto;
    top: 0
}

.OvakSe {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 68px;
    margin: 0 0 0 24px;
    opacity: .6
}

.ZdF7Q .OvakSe {
    display: none
}

.n5Y6Sb {
    background: #e8f0fe;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 12px;
    width: 180px
}

.T3Nsub {
    background: #e8f0fe;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 12px;
    margin-top: 8px;
    width: 120px
}

.fHKJjd {
    -moz-box-flex: 0 0 auto;
    flex: 0 0 auto
}

.ShmgM {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    height: 72px;
    justify-content: flex-start;
    line-height: 24px;
    overflow: hidden;
    padding: 12px 24px 12px 24px;
    position: relative
}

.ShmgM.UC02S .EsHVX {
    -moz-box-flex: 1 1 auto;
    flex: 1 1 auto
}

.n5YNRd {
    box-sizing: border-box;
    height: 48px;
    margin: 0 8px 0 -16px;
    overflow: hidden;
    width: 48px
}

.iD3f3b {
    color: #fff
}

.ZdF7Q .ShmgM,
.m378kd .qRUolc,
.m378kd .X1clqd {
    display: none
}

.ZdF7Q.g3VIld .qRUolc {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    min-height: 26px;
    overflow: hidden;
    padding: 16px 24px 16px 24px;
    padding-bottom: 15px
}

.OkCl1d .qRUolc {
    border-bottom: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.OkCl1d .VY7JQd .pPQgvf,
.ZdF7Q .VY7JQd .pPQgvf {
    fill: rgba(0, 0, 0, .54);
    right: 16px;
    top: 0
}

.ukpdcc {
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    height: 48px;
    margin-right: 16px;
    width: 48px
}

@media all and (min-width:720px) {
    .ukpdcc {
        display: block
    }
}

.EsHVX {
    line-height: 26px;
    min-width: 0;
    overflow: hidden
}

.NQgmDb {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.N8Fav {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: 500
}

.eqYbof {
    background: #3367d6
}

.Jsys5c {
    background: #0d874a
}

.ih0jdc {
    background: #c53929
}

.WFP6pb {
    display: none;
    float: left;
    margin-right: 16px
}

.Hpp8h .snByac {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.NWLBVc .Ce1Y1c {
    background-color: #fff;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: inherit;
    font-size: 19px;
    position: relative;
    top: 2px
}

.g5QgNd {
    color: #fff;
    font-weight: 500;
    padding-left: 8px
}

@media all and (min-width:720px) {
    .WFP6pb {
        display: block
    }
}

.nL3Jpb {
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-flex: 0 0 auto;
    flex: 0 0 auto;
    -moz-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding: 8px 16px 8px 16px
}

.nL3Jpb:empty {
    display: none
}

.gQU5Vd {
    color: rgba(0, 0, 0, .54)
}

.vSMHPc {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-flex: 1;
    flex-grow: 1
}

.MBhZDb {
    color: rgba(0, 0, 0, .54)
}

@keyframes slideDown2 {
    0% {
        max-height: 0;
        overflow: hidden
    }

    to {
        max-height: 1200px
    }
}

.ZdF7Q .ZfJHfc [role="progressbar"] {
    height: 4px;
    position: absolute;
    top: 0
}

.vmYtX,
.vcug3d .j3Tu8e,
.DC9L5 {
    display: none
}

.vcug3d .DC9L5 {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -moz-box-flex: 1 1 0%;
    flex: 1 1 0%
}

.UH7Rbc {
    width: 64px;
    height: 64px
}

.vcug3d .Wvd84e {
    animation: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.vcug3d .ShmgM {
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    z-index: 1
}

.vcug3d .oLxpce {
    -moz-box-flex: 1 1 auto;
    flex: 1 1 auto
}

.vcug3d .vKkXhe {
    background-color: #fff
}

.vcug3d .OvakSe {
    background-color: #3367d6;
    -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    margin: 0 0 0 0;
    min-height: 72px;
    opacity: 1;
    padding: 0 0 0 24px
}

.vcug3d .l8TUx {
    margin-left: 40px;
    opacity: .6
}

.vcug3d .ZfJHfc [role="progressbar"] {
    height: 4px;
    position: absolute;
    top: 72px
}

.vKkXhe .J9fJmf {
    display: none
}

.vcug3d .vKkXhe .J9fJmf {
    display: block;
    padding: 0 0 0 0;
    position: absolute
}

.vcug3d .vKkXhe .X1clqd {
    background-color: #3367d6;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: block;
    height: 72px;
    padding: 0 0 0 8px;
    position: absolute;
    width: 48px;
    z-index: 1
}

.vcug3d .vKkXhe .pPQgvf {
    margin: 12px 0 0 0
}

.YaWDRb.kyO2Yb .ssLDJ {
    display: none
}

.ssLDJ .ZAGvjd {
    border: none;
    font-size: 14px;
    height: 32px;
    min-width: 100px;
    outline: none;
    padding: 0;
    position: relative;
    text-overflow: ellipsis;
    width: 100%
}

.ssLDJ .jBmls {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 3px #bdbdbd;
    box-shadow: 0 2px 3px #bdbdbd;
    left: 24px;
    max-height: 160px;
    min-width: 420px;
    right: 24px
}

.ssLDJ .ZfJHfc {
    box-sizing: border-box
}

.ntfTWe {
    display: none;
    position: absolute;
    margin-right: 24px;
    right: 0
}

.YaWDRb.JpY6Fd .ntfTWe {
    display: block
}

@media all and (max-width:719px) {
    .ssLDJ .jBmls {
        min-width: auto
    }
}

.ssLDJ .d1dlne {
    position: relative
}

.ssLDJ .rFrNMe {
    width: 100%
}

.ssLDJ .PzVD8,
.ssLDJ .FYIQ2 {
    display: inline-block;
    height: auto;
    margin-top: -8px
}

.PzVD8:not(.i0lbhd) .mIZh1c,
.PzVD8:not(.i0lbhd) .cXrdqd,
.FYIQ2:not(.i0lbhd) .mIZh1c,
.FYIQ2:not(.i0lbhd) .cXrdqd {
    background: none
}

.FYIQ2 .snByac,
.PzVD8 .snByac {
    font-size: 14px
}

.FYIQ2 .RxsGPe {
    display: none
}

.FYIQ2.rFrNMe.Tyc9J {
    padding-bottom: 8px
}

.WUQPY,
.zTtrlf {
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12)
}

.WUQPY,
.zTtrlf {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    outline: none;
    overflow-x: hidden;
    width: 100%
}

.WUQPY.AHmuwe,
.zTtrlf.AHmuwe {
    -moz-box-shadow: inset 0 -2px 0 #3367d6;
    box-shadow: inset 0 -2px 0 #3367d6
}

.WUQPY {
    overflow: visible
}

.WUQPY.Jj6Lae {
    -moz-box-shadow: inset 0 -2px 0 #d50000;
    box-shadow: inset 0 -2px 0 #d50000
}

.WUQPY .ssLDJ {
    flex-basis: 1px
}

.B3BzGc:focus {
    background: #3367d6
}

.B3BzGc:focus .Jd2YBb {
    color: rgba(255, 255, 255, 1)
}

.B3BzGc:focus .sDNGH {
    fill: rgba(255, 255, 255, 1)
}

.B3BzGc {
    background: #e0e0e0;
    -moz-border-radius: 32px;
    border-radius: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    height: 32px;
    margin: 0 8px 8px 0;
    max-width: 97%;
    outline: none;
    padding: 0 0 0 12px
}

.Jd2YBb {
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.aQg69e {
    color: #d50000;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    min-height: 16px;
    padding-top: 8px
}

.zb8Dvc {
    margin-bottom: -36px;
    width: 100%
}

.IYE8cd {
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;
    padding: 8px;
    width: 16px
}

.LSWCQ {
    fill: #9e9e9e
}

.KL4X6e {
    background: #eeeeee;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0
}

.TuA45b {
    opacity: .8
}

.OWFLPe {
    color: rgba(0, 0, 0, 0.87)
}

.rqaPte {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-shrink: 0
}

.XIPNyf {
    line-height: normal;
    overflow: hidden;
    padding-left: 12px
}

.v59Ijb {
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 28px;
    margin: 10px 0 10px;
    width: 28px
}

.CheM7 {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.CheM7 .XOIsrf {
    font-weight: 600
}

.ie9Jie {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis
}

.pWEKAe {
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px
}

.iSzIY {
    max-height: 100px
}

.YlJSub {
    pointer-events: none;
    padding-left: 24px
}

.WXxgpc {
    color: #9e9e9e;
    font-size: 14px;
    cursor: default
}

.WXxgpc:hover {
    font-weight: normal
}

.pK6foc {
    min-height: 84px
}

.FFTttd {
    margin-bottom: 24px
}

.WLSNtd {
    min-height: 64px
}

sentinel {}